/* Showmolu css stylesheet */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: 100%;
	overflow: hidden;
	background-color: #ccc;
	position: absolute;
	width: 100%;
	height: 100%;
}
body.open {
	overflow-y: auto;
}
.button {
	width: 45%;
	padding: 5%;
	margin: 1%;
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
}
#dynamicNav {
	width: 50%;
	height: 50%;
	background: transparent;
	position: absolute;
	z-index: 1;
	top: 25%;
	left: 25%;
	text-align: center;
}
#dynamicNav li {
	list-style-type: none;
	padding: 7.5% 0;
	background: #fff;
	width: 25%;
	float: left;
	margin: 0;
	position: relative;
	text-align: center;
}
#dynamicNav li a {
	cursor: pointer;
	color: #000;
	border: none;
}
#dynamicNav ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
}
#dynamicNav h1, 
#dynamicNav h2 {
	font-size: 18px;
	font-weight: 300;
	position: absolute;
	z-index: 1;
	text-align: center;
	bottom: 50%; 
	width: 100%;
}
#dynamicNav table {
	width: 100%;
	height: 100%;
}
#dynamicNav table td {
	background-color: #fff;
}
#dynamicNav table .clear {
	background-color: transparent;
	width: 75px;
	height: 75px;
}
#dynamicNav #homeNav li {
  width: 50%;
}
#dynamicNav table td.logo {
  background-color: transparent;
  width: 75px;
  height: 75px;
}
#dynamicBkg {
  background-image: url('../img/my-balcony.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#dynamicBkg .menu {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background-color: #fff;
  margin: 0;
  padding: 2.5%;
  padding-left: 5%;
}
#dynamicBkg .menu li {
  list-style-type: none;
  padding: 0;
  display: inline-block;  
  vertical-align: middle;
}
#dynamicBkg .menu li.close {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 32px;
  font-weight: normal;
}
#dynamicBkg .menu li.title {
  font-size: 18px;
  line-height: 125%;
  max-width: 50%;
}
#dynamicBkg .menu li.controls {
  float: right;
  text-align: right;
}
#dynamicBkg .menu .link {
  margin-right: 25px;
  font-size: 12px;
}
#dynamicBkg .menu .controls .prev,
#dynamicBkg .menu .controls .next {  
  display: inline-block;  
  vertical-align: middle;
  font-size: 36px;
}
#dynamicBkg .menu .close,
#dynamicBkg .menu .title,
#dynamicBkg .menu .controls .prev,
#dynamicBkg .menu .controls .next {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300; 
}
#infoBtn {
  display: block;
  width: 35px;
  height: 35px;
  padding: 15px;
  margin-top: -25px;
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 50%;
  background-color: transparent;
  line-height: 0px;
  text-align: center;
  font-style: italic;
  font-family: 'Georgia', sans-serif;
  border-radius: 25px;
}
.your-name {font-size: 24px;}
.your-title {margin-bottom: -25px;}
.your-logo {
	padding: 0;
	margin: 0;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	cursor: pointer;
  background-image: url('../img/elephant-logo.png');
  margin: 0 auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}
.view {
  z-index: 1;
  position: relative;
}
h3 {
	font-size: 14px;
	font-weight: 300;	
	line-height: 150%;
}
.introNav {
	text-align: center;
}
.introNav li {
	width: 49.5%;
	font-size: 90%;
}
.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
