<!-- #dynamicNav - container for the dynamic nav. -->
<div id="dynamicNav" ng-controller="dynamicNavController" class="{{dynamicNavStatus}}" > 
  <h1 class="your-title">Front End Developer</h1>  
  <h2 class="your-name">Jani Momolu Anderson</h2> 
  <!--
    A table allows the logo to maintain its relative position 
    as the nav moves around the page
  -->
  <table>
    <tr height="15%">
      <td colspan="3"></td>
    </tr> 
    <tr>
      <td width="50%"></td>
      <td class="logo">
        <a href="" class="your-logo" ng-click="navStatusToggle()"></a>
      </td>
      <td width="50%"></td>
    </tr> 
    <tr>
      <td colspan="3"></td>
    </tr>   
  </table>
  <div id="dashboardNav">
    <ul id="home">
      <li><a href="#/view1">About Me</a></li>
      <li><a href="#/view2">Contact Me</a></li>
    </ul>
    <ul id="aboutme" class="hidden">
      <li><a href="">R&eacute;sum&eacute;</a></li>
      <li><a href="">Creative</a></li>
      <li><a href="">Code</a></li>
      <li><a href="">UX Diary</a></li>
      <!-- <li><a href="">Blog</a></li> -->
    </ul> 
    <!-- #subNav - container for secondary nav -->
    <ul id="subNav" class="hidden">
      <li ng-repeat="item in subNavItem"><a href="{{item.link}}">{{item.name}}</a></li>
      <li><a class="more-btn">...</a></li>
    </ul> 
  </div>      
</div> <!-- / #dynamicNav -->
