<div ng-controller="portfolioController">
  <h1>{{name}}</h1>
  <h3>PageTitle</h3>
  <div class="portfolio-page">
    <ul class="page-nav">
      <li><a>prev</a></li>
      <li><a>back</a></li>
      <li><a>next</a></li>
    </ul>
    <div class="content">
      <div class="header">
        <div class="title">Let There Be Light</div>
        <div class="subtitle">Event Flyers. Photography by David Anthony.</div>
        <div class="date">January 09, 2011</div>    
        <div class="description">I worked closely with Lumen and Effen Vodka to develop promotional graphics for a fashion event entitled Let There Be Light. Playing off of the elemental themes of the promo copy, we developed a series of four graphics for the event, each element represented by a different photograph. We were fortunate enough to work with David Anthony, one of Chicago's finest art and fashion photographers, to design graphics that were simple, eye-catching and clever. For the print promotions, we coupled the "element" on the front with a detail shot of the venue on the back that reflected that particular element. Can you tell?</div>      
      </div>
      <div class="images">
        <img src="https://m1.behance.net/rendition/modules/5653836/disp/a10a9edc99e4450457fcabc6e1b6eaa0.jpeg" />
        <img src="https://m1.behance.net/rendition/modules/5653836/disp/a10a9edc99e4450457fcabc6e1b6eaa0.jpeg" />
      </div>
    </div>
  </div>
</div><!-- / .portfolio-page -->