<div id="portfolio" ng-controller="portfolioController">
  <h1>Portfolio</h1>
  <ul class="portfolio-items">
    <li ng-repeat="item in behanceData.projects" class="item">
      <a href="#/portfolio/{{item.id}}/{{item.name|removeSpaces}}" ng-click="getBehanceItem(item.id)">
        <img ng-src="{{item.covers.202}}" />
      </a>
      <div ng-show="">
        <p>{{item.name}}</p>
        <p>{{item.url}}</p> 
        <p>{{item.company}}</p>      
        <p ng-repeat="field in item.fields">
          <a href="">{{field}}</a>
        </p>
        <p>Views on Behance: {{item.stats.views}}</p>
      </div>
    </li>
  </ul>
  <p>{{behanceData}}</p>
</div>