<div id="portfolioPage" ng-controller="portfolioController">
  <div class="portfolio-page">
    <ul class="page-nav">
      <li><a><span>&lsaquo;</span>back</a></li>
    </ul>
    <div class="content">
      <div class="header">
        <div class="metadata">
          <h3 class="title">{{behance_prj.project.name}}</h3>
          <h4 class="subtitle">{{behance_prj.project.description}}</h4>
          <div class="date">{{behance_prj.project.published_on * 1000|date:'medium'}}</div>              
        </div>
        <p class="description">{{behance_prj.project.modules[1].text|htmlToPlaintext}}</p>      
      </div>
      <div class="images">
        <img ng-repeat="image in behance_prj.project.modules.slice(2,100)" ng-src="{{image.src}}" />
      </div>
    </div>
  </div>
</div><!-- / .portfolio-page -->