<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="appController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Showmolu / A Social Portfolio App / Built in AngularJS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>  
</head>
<body>
  <!-- #dynamicNav - container for the dynamic nav. -->
  <div id="dynamicNav" ng-controller="dynamicNavController" class="{{navStatus}}" > 
    <h1 class="your-title">Front End Developer</h1>  
    <h2 class="your-name">Jani Momolu Anderson</h2> 
    <!--
      A table allows the logo to maintain its relative position 
      as the nav moves around the page
    -->
    <table>
      <tr height="15%">
        <td colspan="3"></td>
      </tr> 
      <tr>
        <td width="50%"></td>
        <td class="logo">
          <a href="" class="your-logo" ng-click="navStatusToggle()"></a>
        </td>
        <td width="50%"></td>
      </tr> 
      <tr>
        <td colspan="3"></td>
      </tr>   
    </table>
    <div id="dashboardNav">
      <ul id="home">
        <li><a href="#/view1">About Me</a></li>
        <li><a href="#/view2">Contact Me</a></li>
      </ul>
      <ul id="aboutme" class="hidden">
        <li><a href="">R&eacute;sum&eacute;</a></li>
        <li><a href="">Creative</a></li>
        <li><a href="">Code</a></li>
        <li><a href="">UX Diary</a></li>
        <!-- <li><a href="">Blog</a></li> -->
      </ul> 
      <!-- #subNav - container for secondary nav -->
      <ul id="subNav" class="hidden">
        <li ng-repeat="item in subNavItem"><a href="{{item.link}}">{{item.name}}</a></li>
        <li><a class="more-btn">...</a></li>
      </ul> 
    </div>      
  </div> <!-- / #dynamicNav -->
  
  <div>Showmolu : v<span app-version></span></div>
  
  <!-- 
  #dynamicBkg - container for nifty background stuff.
  Classes decorate elements that may change during development.
  Moving to angular directives instead of plain ol' functions
  for better organization
  -->  
  <div id="dynamicBkg" ng-controller="dynamicBkgController" style="background-image:{{bkgImage}}">
    <button id="infoBtn" ng-click="imageNavStatusToggle()" class="{{infoBtnStatus}}">i</button> 
    <ul class="menu border-box {{imageNavStatus}}">
      <li ng-click="imageNavStatusToggle()" class="close">&times;</li>
      <li class="title">{{imageTitle}}</li>
      <li class="controls">
        <span class="link"><a href="{{imageLink}}">view this photo on Flickr</a></span>
        <span class="prev" ng-click="prev()" ng-class="{invisible: idx <= 0}"><</span>
        <span class="next" ng-click="next()" ng-class="{invisible: idx >= photoSet.length -1}">></span>
      </li>
    </ul>
    <!-- create a set of thumbnails from the flickr photo set -->
    <ul>
      <li ng-repeat="photo in photoSet">
        <div ng-click="changeDynamicBkg(photo)">
          <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
        {{title}}
      </li>
    </ul>
    <div class="view" ng-view></div>
  </div> <!-- / #dynamicBkg -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
