<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="appController" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Showmolu / A Social Portfolio App / Built in AngularJS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>  
</head>
<body ng-controller="appController" class="{{pageStatus}}">  

  <!-- #dynamicNav - container for the dynamic nav. -->
  <div id="dynamicNav" ng-controller="dynamicNavController" ng-hide="imageNavStatus == 'open'" class="{{dynamicNavStatus}}" > 
    <h1 class="your-title">Front End Developer</h1>  
    <h2 class="your-name" ng-click="dynamicNavStatusToggle()"><a href="#/home">Jani Momolu Anderson</a></h2> 
    <!--
      A table allows the logo to maintain its relative position 
      as the nav moves around the page
    -->
    <table><!-- logo table -->
      <tr height="15%"><td colspan="3"></td></tr> 
      <tr>
        <td width="50%"></td>
        <td class="logo">
          <a href="#/home" class="your-logo" ng-click="dynamicNavStatusToggle()"></a>
        </td>
        <td width="50%"></td>
      </tr> 
      <tr><td colspan="3"></td></tr>   
    </table><!-- / logo table -->
    <div id="dashboardNav">
      <ul id="home" ng-hide="dynamicNavStatus != 'closed'">
        <li ng-click="dynamicNavStatusToggle()"><a>About Me</a></li>
        <li ng-click="dynamicNavStatusToggle()"><a href="#/page/contact">Contact Me</a></li>
      </ul>
      <ul id="aboutme" ng-hide="dynamicNavStatus == 'closed'">
        <li><a href="#/resume">R&eacute;sum&eacute;</a></li>
        <li><a href="#/portfolio">Creative</a></li>
        <li><a href="#/code">Code</a></li>
        <li><a href="#/ux-diary">UX Diary</a></li>
        <!-- <li><a href="">Blog</a></li> -->
      </ul> 
      <!-- #subNav - container for secondary nav -->
      <ul id="subNav" class="hidden">
        <li ng-repeat="item in subNavItem"><a href="{{item.link}}">{{item.name}}</a></li>
        <li><a class="more-btn">...</a></li>
      </ul> 
    </div>      
  </div> <!-- / #dynamicNav -->

  <div class="view" ng-hide="imageNavStatus == 'open'" ng-view></div>
  
  <!-- 
  #dynamicBkg - container for nifty background stuff.
  Classes decorate elements that may change during development.
  Moving to angular directives instead of plain ol' functions
  for better organization
  -->  
  <div id="dynamicBkg" ng-controller="dynamicBkgController" style="background-image:{{bkgImage}}">
    <a id="infoBtn" ng-click="imageNavStatusToggle()" class="{{infoBtnStatus}}">i</a> 
    <!-- bottom menu -->
    <ul class="menu border-box" ng-hide="imageNavStatus != 'open'">
      <li ng-click="thumbsStatusToggle()" class="toggle">
        <span ng-hide="thumbsStatus == 'open'">&uarr;</span>
        <span ng-hide="thumbsStatus == 'hidden'">&darr;</span>
      </li>
      <li class="title">{{imageTitle}}</li>
      <li class="controls">
        <span class="link"><a href="{{imageLink}}">view this photo on Flickr</a></span>
        <span class="prev" ng-click="prev()" ng-class="{invisible: idx <= 0}"><</span>
        <span class="next" ng-click="next()" ng-class="{invisible: idx >= photoSet.length -1}">></span>
      </li>
      <li>
        <!-- create a set of thumbnails from the flickr photo set -->
        <ul class="thumbs {{thumbsStatus}}">
          <li ng-repeat="photo in photoSet">
            <a ng-click="changeDynamicBkg(photo)">
              <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg">
            </a>
            {{title}}
          </li>
        </ul> <!-- / thumbs -->
      </li>
    </ul><!-- bottom menu -->
  </div> <!-- / #dynamicBkg -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
